*.class
*.#*
*#
*~
*.lic
.idea/
lib_managed/
fetch.iml
target/
project/plugins/src_managed/
project/boot/
project/plugins/target/
project/plugins/project/
project/plugins/lib_managed/
project/build/target/
out/
logs/
*.iml
*.swp
*.iws
*.ipr
*.classpath
*.project